@model IEnumerable<WebApplication1.Models.KindOfSport>

@{
    ViewData["Title"] = "Index";
}

<h2>Sports</h2>

@foreach (var item in Model)
{
    <div class="panel panel-default forum-category">
        <div class="panel-heading">
            <strong style="font-size: 1.5em">@item.Name</strong>

            @*@if (User.IsInRole(ApplicationRoles.Administrators))
            {*@
                <text>|</text><a asp-action="Edit" asp-route-id="@item.Id">Edit</a><text>|</text>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><text>|</text>
                <a asp-action="Create" asp-controller="EventTypes" asp-route-sportId="@item.Id"> Create sport event </a>

            @*}*@
        </div>
        <table class="table table-striped">
            <tbody>
                @foreach (var type in item.EventTypes)
                {
                    <tr>
                        <td>
                            <p style="font-size: 1.5em">@type.Name</p>
                            <p>Number of players: @type.NumberOfPlayers</p>
                            @*@if (User.IsInRole(ApplicationRoles.Administrators))
                            {*@
                                <a asp-action="Edit" asp-controller="EventTypes" asp-route-id="@type.Id">Edit</a><text>|</text>
                                <a asp-action="Delete" asp-controller="EventTypes" asp-route-id="@type.Id">Delete</a><text>|</text>
                            @*}*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@*@if (User.IsInRole(ApplicationRoles.Administrators))
{*@
    <div class="panel panel-default">
        <div class="panel-heading">
            <a asp-action="Create" asp-controller="KindOfSports">Create new sport</a>
        </div>
    </div>
@*}*@
